body {
    background-color: lightblue;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkblue;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}